﻿/*
    General
*/


.panel-filter .panel-heading,
.panel-filter {
    border-color: #dddddd;
}
.panel-filter{
    margin-top:20px;
} 
.panel-filter .panel-heading {
    background: #ededed;
    padding:0px 3px;
    line-height:34px;
}
.panel-filter .panel-heading .panel-title {
    line-height: 34px;
}
.panel-filter .panel-heading .panel-title a {
    display: inline-block;
    text-transform: uppercase;
    line-height: 34px;
    font-weight:bold;
    font-size:13px;

}
.panel-filter .panel-heading .panel-title a:hover,
.panel-filter .panel-heading .panel-title a:focus{
    text-decoration:none;
}
.panel-filter .panel-heading .panel-title a img {
    vertical-align: top;
    position: relative;
    top: 0px;
    right: -5px;
}
.panel-filter label{
    font-size:12px;
    text-transform:uppercase;
}
    /*
    Table
*/
    .parent-table.table > thead > tr > th:first-child,
    .parent-table.table > tbody > tr > th:first-child {
        width: 30px;
    }
.parent-table.table > tbody > tr > td {
    margin-top: -1px;
    color: #787e86;
}
.parent-table.table > thead > tr > th,
.parent-table.table > tbody > tr > th {
    background: #e5e5e5;
    font-size: 12px;
}
.child-table > td {
    padding: 0 0 0 40px !important;
    font-size: 12px;
    border-top:0 !important;
}
.child-table > td > table {
    margin-bottom:-1px;
}
.child-table > td > table > thead > tr > th,
.child-table > td > table > tbody > tr > th {
    background: #e5e5e5;
    font-size: 12px;
    border-top: 0;
    color:#1b1717;
}
.child-table > td > table > tbody > tr > td,
.child-table > td > table > tr > th {
    background: #eeeeee;
    font-size: 12px;
}


.info, .success, .warning, .error, .validation {
border: 1px solid;
margin: 10px 0px;
padding:15px 10px 15px 50px;
background-repeat: no-repeat;
background-position: 10px center;
}
.info {
color: #00529B;
background-color: #BDE5F8;
background-image: url('info.png');
}
.success {
color: #4F8A10;
background-color: #DFF2BF;
background-image:url('../images/success.png');
}
.warning {
color: #9F6000;
background-color: #FEEFB3;
background-image: url('warning.png');
}
.error {
color: #D8000C;
background-color: #FFBABA;
background-image: url('../images/error.png');
}



 .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    cursor: default;
    color: #666 !important;
    border: 1px solid transparent;
    background: transparent;
    box-shadow: none;
}
 
.dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    color: #333 !important;
    border: 1px solid transparent;
    border-radius: 2px;
}