﻿
<table class="parent-table table">
    <tr>
        <th>Id</th>
        <th>DataBase</th>
        <th>Location</th>
        <th>FISCAL YEAR</th>
        <th>FISCAL PERIOD</th>
        <th>Type</th>
        <th>Executed at</th>
        <th>Total</th>
        <th>Successfull</th>
        <th>Failed</th>

    </tr>
    {#foreach $T.data as t1}
    <tr>
        <!--<td><a href="#"><img src="https://system.sandbox.netsuite.com/core/media/media.nl?id=791&c=4519673&h=a5e026295a2f4d67480d&whence=" /></a></td>-->
        <td><a id="file_id" data-id="{$T.t1.custrecord_shm_file_id}" style="cursor:pointer;cursor: hand;color:red;">{$T.t1.id}</a></td>
        <td style="width:200px">
            {$T.t1.custrecord_shm_database_name || $T.t1.custrecord_shm_database_id}
        </td>
        <td>{$T.t1.custrecord_shm_location_name || $T.t1.custrecord_shm_location_id}</td>
        <td>{$T.t1.custrecord_shm_fiscal_year}</td>
        <td>{$T.t1.custrecord_shm_fiscal_period}</td>
        <td>{$T.t1.	custrecord_shm_type}</td>
        <td>{$T.t1.custrecord_shm_created}</td>
        <td>{$T.t1.	custrecord_shm_total_entries}</td>
        <td>{$T.t1.custrecord_shm_total_successfull_entries}</td>
        <td>{$T.t1.custrecord_shm_total_failed_entries}</td>


    </tr>

    {#/for}
</table>
{#if oJELogs.length>1}
<table>
    <tr>
        <td>
            Showing {(vPageNo*vPageSize)+1} to {(vPageNo*vPageSize)+oJELogs.length} of {vTotalRecords} entries
        </td>
        <td style="padding-left:10px">
            {#if oPageRanges.length>1}
            <ul class="pagination">
                <li  {#if $T.index-1 == vPageNo}  class="active" {#/if} ><a href="#" data-id="0">First</a></li>
                <li><a href="#"  data-id="{parseInt(vPageNo)-1}" {#if vPageNo-1==0}  disabled {#/if}>&laquo;</a></li>
                {#for index = vStartPageNumbersFrom to vStopPageNumbersAt}
                <li {#if $T.index-1 == vPageNo}  class="active" {#/if}><a href="#" data-id="{$T.index-1}">{$T.index}</a></li>
                {#/for}
                <li><a href="#"  data-id="{parseInt(vPageNo)+1}" {#if vPageNo>oPageRanges.length-1}  disabled {#/if}>&raquo;</a></li>
                <li  {#if $T.index-1 == vPageNo}  class="active" {#/if}><a href="#" data-id="{parseInt(oPageRanges.length)-1}">Last</a></li>
            </ul>
            {#if}
        </td>
    </tr>
</table>
 {#if}
 




