﻿
<table  class="parent-table table">
    <tr>
        <th rowspan="1" colspan="1" aria-label="" style="width: 18px;"></th>
        <th>Journal Name</th>
        <th>Posted Date</th>
        <th>Description</th>
        <th>Tran Id</th>
        <th>Debit</th>
        <th>Credit</th>
        <th>Balance</th>
    </tr>
    {#foreach $T.data as t1}
    <tr>
        <td><a href="#"><img src="https://system.sandbox.netsuite.com/core/media/media.nl?id=791&c=4519673&h=a5e026295a2f4d67480d&whence=" /></a></td>
        <td>
            {#if $T.t1.validation_error.length > 0}
            <img src="https://cdn4.iconfinder.com/data/icons/alphabet-3/500/Alert_exclamation_exclamation_mark_mark-24.png" data-toggle="tooltip" data-original-title="{$T.t1.validation_error}" />
            {#/if}
            {#if $T.t1.import_error.length > 0}
            <img src="https://cdn4.iconfinder.com/data/icons/alphabet-3/500/Alert_exclamation_exclamation_mark_mark-24.png" data-toggle="tooltip" data-original-title="{$T.t1.import_error}" />
            {#/if}
            {$T.t1.custbody_shm_jname}
        </td>
        <td>{getFormattedDate($T.t1.trandate)}</td>
        <td>{$T.t1.description}</td>
        <td>{$T.t1.custbody_shm_integ_id}</td>
        <td>{$T.t1.debit}</td>
        <td>{$T.t1.credit}</td>
        <td>{$T.t1.balance}</td>
    </tr>
    <tr class="child-table">
        <td colspan="8">
            <table  class="table table-bordered">
                <tr>

                    <th>Account</th>
                    <th>Line Description</th>
                    <!--<th>Tran Id</th>-->
                    <th>Debit</th>
                    <th>Credit</th>
                </tr>
                {#foreach $T.t1.lines as t}
                <tr>
                    <td>{$T.t.account}</td>
                    <td>{$T.t.memo}</td>
                    <!--<td>{$T.t1.tranid}</td>-->
                    <td>{$T.t.debit}</td>
                    <td>{$T.t.credit}</td>
                </tr>
                {#/for}
            </table>
        </td>
    </tr>
    {#/for}
    </table>
